<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/user/home">
        <img src="/images/여기여.png" style="width:200px;"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/home">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/intro">채팅</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">상품</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/product">모든 상품</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">인기 상품</a></li>
                        <li><a class="dropdown-item" href="#!">신 상품</a></li>
                    </ul>
                </li>
                
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark1" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    <a href="/user/cart">장바구니</a>
                    <span class="badge bg-dark text-white1 ms-1 rounded-pill"><%=results[0].CARTPRODUCT_COUNT%></span>
                </button>
                <!-- <div class="header__cart__price"><%=sessionName%>님 <span>환영합니다.</span></div> -->
                <div style="color:white";>
                    <%=sessionName%>님 <span>환영합니다.</span>
                </div>


                <div class="header__cart__price">
                    <% if(sessionEmail==undefined){%>
                        <a href="#"><i class="fa fa-user"></i> Login</a>
                        <%} else{%>
                            <a href="/logout"><i class="fa fa-user"></i> Logout</a>
                            <%}%>
                </div>
            
            </form>
        </div>
    </div>
</nav>