<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>  <link href="../css/login.css" rel="stylesheet" />
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="contact">
          
          
          <form action="/login" method="post">
						<h3>로그인</h3>
						<input type="email" name="loginEmail" placeholder="email" required>
						<input type="password" name="loginPwd" placeholder="PASSWORD" required>
						<button id="login" class="submit">로그인</button>
					</form>


				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>여기여</h2>
					<h5>애플 전용 상품 판매 사이트입니다.</h5>
				</div>
				<div class="right-inductor"><img src="images/applehome.png" alt=""></div>
			</div>
		</div>
	</section>
</body>
</html>
<script>
  var loginButton = document.getElementById("login")
</script>