<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>상세보기</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body  style="padding-top: 190px;">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">
                <img src="images/여기여.png" style="width:200px;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                        <li class="nav-item"><a class="nav-link" href="intro">소개</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">상품</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="product">모든 상품</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">인기 상품</a></li>
                                <li><a class="dropdown-item" href="#!">신 상품</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="login">로그인</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark1" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            <a href="cart">장바구니</a>
                            <span class="badge bg-dark text-white1 ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"></h1>
                    <p class="lead fw-normal text-white-50 mb-0">
                        상세보기
                    </p>
                        <div class="col mb-5">
                            <div class="card h-100" style="width: 304.2px;">
                                <!-- Product image: 이부분은 클릭된 해당 상품에 따라 사진이 변경되어야함.-->
                                <img class="card-img-top" src="images/macbook.png" width="100px" alt="..." style="width: 300px;">
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name : 이 부분은 클릭된 해당 상품명이 출력 -->
                                        <h5 class="fw-bolder">macbook</h5>
                                        <!-- Product price : 이 부분은 클릭된 해당 상품 가격이 출력-->
                                        $120.00 - $280.00
                                    </div>
                                </div>

                                <!-- Product actions-->
                                <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="prodInfo">상세보기</a></div>
                                </div> -->
                            </div>
                            <!-- <div align="right"> -->
                                <table class="table table-bordered" border="1" style="width:50%; color: white;" >
                                    <tr>
                                        <td colspan="2">상품 정보</td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td>상품명</td>
                                        <!--열을 합칠 때에는 앞 열에 colspan 적용-->
                                        <td colspan="2"><input type="text"></input></td>
                                    </tr>
                                    <tr>
                                        <td>브랜드</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>상품가격</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>상품설명</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    
                                </table>
                            <!-- </div> -->
                            <button>장바구니 담기</button>
                            <button>목록</button>

                            
                        </div>
                </div>

        </header>


        </body>
        </html>
