<style>
    p{
      font-size: 1.2rem;
      font-weight: bold;
    }
  </style>
  <body>
   
      <!-- Checkout Section Begin -->
      <section class="checkout spad">
          <div class="container">
              <div class="checkout__form">
                  <h1>결제</h1>
                  <br><br>
                  <form action="" id="buy" method="post" autocomplete="off" accept-charset="UTF-8">
                    <input type="hidden" name="productCount">  
                    <input type="hidden" name="orderListPr" value="<%=cart%>"> 
                    <input type="hidden" name="productDetail"> 
                    <input type="hidden" name="productDetail"> 
  
                    <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <% for (i=0; i < buyProduct.length; i++){ %>
                            <div class="checkout__input set-bg">
                              <img src="../../<%=buyProduct[i].PRODUCT_IMG%>" width="200px">
                              <h5>상품 이름 : <%=buyProduct[i].PRODUCT_NAME%></h5>
                            </div>
                            <%}%>
                              <div class="checkout__input">
                                  <p>총 결제금액<span> : <%=sumPrice%></span></p>
                              </div>
                              <div class="checkout__input">
                                  <p>주소<span>*</span></p>
                                  <input type="text" name="adres" required>
                              </div> 
                              <div class="checkout__input">
                                <p>상세주소<span>*</span></p>
                                <input type="text" name="adresDetail" required>
                              </div>
                              <div class="checkout__input">
                                <p>연락받을 전화번호<span>*</span></p>
                                <input type="text" name="orderListPhone" required>
                            </div> 
                          </div>
                      </div>
                  </form>
                  <button class="site-btn" id="insert_btn"> 결제하기</button>
              </div>
          </div>
      </section>
      <!-- Checkout Section End -->
      <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
      <script>
        
          window.onload = function(){
          //ckeditor
          $("#insert_btn").click(function () {
            if (confirm("결제하시겠습니까?") == true) {
              var IMP = window.IMP; 
                IMP.init('imp76102156'); 
                IMP.request_pay({
                  pg : "kakaopay", 
                    pay_method : 'card',
                    merchant_uid : 'merchant_' + new Date().getTime(),
                    name : '결제',
                    amount : 1,
                    buyer_email : '구매자 이메일',
                    buyer_name : '구매자 이름',
                    buyer_tel : '구매자 번호',
                    buyer_addr : '구매자 주소',
                    buyer_postcode : '구매자 주소',
                    m_redirect_url : 'redirect url'
                }, function(rsp) {
                    if ( rsp.success ) {
                        var msg = '결제가 완료되었습니다.';
                        location.href='#';
                    } else {
                        var msg = '결제에 실패하였습니다.';
                        rsp.error_msg;
                        
                    }
                });
            } else {
              return;
            };
          });
        }
      </script>
  </body>
  