<style>
    #categories{
        padding-bottom: 50px;
    }
    #recentTitle{
        margin-bottom: 25px;
    }
</style>
<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"></h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    <form action="https://search.naver.com/search.naver">
                        <div class="search">
                            <input type="text" name="query" value="">
                            <button type="submit">검색</button>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </header>
    <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    
                <% for (i=0; i < results.length; i++){ %>
                    <div class="col mb-5">
                        
                        <div class="card h-100">
                            <!-- Product image-->
                                <div class="col-lg-3">
                                    <div class="categories__item set-bg" style= "width: 200px;">
                                        <img class="card-img-top" src="../<%=results[i].PRODUCT_IMG%>" width="100%">
                                        
                                        
                                        
                                    </div>
                                </div>
                            

                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><a href="#"><%=results[i].PRODUCT_NAME%></a></h5>
                                    <!-- Product price-->
                                    <h6><%=results[i].PRODUCT_PRICE%> 원</h6>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="prodInfo">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    <%}%>

                    
                    

                </div>
            </div>
        </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white1">Copyright &copy; Website 2022/10/18</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
</body>